<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>  
                         
    <h1>profile</h1>
    <h3>Họ và tên: Nguyễn Thị Liên </h3>
    <h3> Công việc: Làm thêm </h3>
    <h3> Trường học: Đại học Thủy Lợi</h3>
    <h3> Sở thích: Nghe nhạc, xem phim</h3>
    <h3> Cush: độc thân  =) </h3>
    <h3> Không thích: Giả tạo</h3>
    <h3> Bonus: Thích ăn kem ngắm trời mưa, càng lạnh càng thích :))</h3>
    
    <a href='http://techkids.vn'><h1> <strong>Trường học</strong> </h1></a>   
    
</body>
</html>
